.front
  .front-mask
  
  .front-bg
    = image_tag 'bg1.jpg'

.app-content.wrapper
  .page-content
    .col-md-7.welcome-text
      = image_tag 'twitif-wordsonly.png'
      %br
      %p
        = t(:landing_desc)
    .col-md-5
      .card.clearfix
        = render "users/sessions/form"

      .card.clearfix
        %h4
          %strong
            = "#{t(:new_to)} Twitifi?"
          Sign up
        %hr
        = render "users/registrations/form"
