.app-content
  .container.padding-card
    .col-md-3.no-padding
      = render "profile/profile"
      .card.clearfix
        %h4
          %strong
            Compose new twit
        %hr
        = render "posts/form"

    .col-md-6.no-padding
      - if @posts.count > 0
        = render "posts/post"
      - else
        .card
          %small.strong You are not following anyone.

    .col-md-3.no-padding
      .card
        %h4
          %strong
            Who to follow
        - @users_to_follow.each do |user|
          = render 'profile/who_to_follow', user: user
      .card.clearfix
        = image_tag 'http://1.bp.blogspot.com/-EGPqEqrMeK8/UGe6TK9NmNI/AAAAAAAAMK0/HhwHIgYPaJ8/s1600/FBWALL_iphone.jpg', class: 'img-responsive'
      .card.clearfix
        = image_tag 'https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a2f04a46265227.584e9e648ffda.jpg', class: 'img-responsive'
