.card
    - @followers.each do |follower|
        %div.twits.clearfix
            .col-md-1.no-padding
                - if follower.image_url
                    = image_tag follower.image_url, class: 'avatar'
                - else
                    = image_tag 'https://s3.amazonaws.com/mypresonus/profile/1432960478_922038.jpg', class: 'avatar'
            .col-md-11
                %b= "#{follower.first_name} #{follower.last_name}"
                %span.text-muted= follower.email
                .btn-group.pull-right.text-muted
                    %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                        %span.glyphicon.glyphicon-chevron-down
                    %ul.dropdown-menu
                        %li
                            = link_to 'Remove', remove_follower_user_path(follower), :method => :delete, :data => { :confirm => 'Are you sure?' }
                
            %hr
