.card
    - @followees.each do |followee|
        %div.twits.clearfix
            .col-md-1.no-padding
                - if followee.image_url
                    = image_tag followee.image_url, class: 'avatar'
                - else
                    = image_tag 'https://s3.amazonaws.com/mypresonus/profile/1432960478_922038.jpg', class: 'avatar'
            .col-md-11
                %b= "#{followee.first_name} #{followee.last_name}"
                %span.text-muted= followee.email
                .btn-group.pull-right.text-muted
                    %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                        %span.glyphicon.glyphicon-chevron-down
                    %ul.dropdown-menu
                        %li
                            = link_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
                %p= post.text
            %hr
