%div.twits.clearfix
  %hr
  .col-md-3.no-padding
    = image_tag user.image_url, class: 'avatar'
  .col-md-9.no-padding
    = link_to "/profile/#{user.username}" do
      %b= user.full_name
      %span.text-muted= "@#{user.username}"
    - if current_user.follower_of? user
      %button.btn.btn-disabled Following
    - else
      = button_to 'Follow', follow_user_path(user), method: :post, class: 'btn btn-info'
