- @user ||= current_user
.card.no-padding.clearfix.user-profile{style: "margin: 0px; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);"}
  %div{style: "height: 320px; background-color: #1DA1F2;"}
  .container
    .col-md-12
      = image_tag @user.image_url, class: 'avatar -big'
    .col-md-9.col-md-offset-3
      %ul.nav.navbar-nav{ role: "tablist" }
        %li
          %a.active{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"} 
            %strong.head-text.text-muted
              Twits
            .sub-text.text-center
              =@posts.count
        %li
          %a{"aria-controls" => "following", "data-toggle" => "tab", :href => "#following", :role => "tab"} 
            %strong.head-text.text-muted
              Following
            .sub-text.text-center
              =@user.followees_count
              
        %li
          %a{"aria-controls" => "followers", "data-toggle" => "tab", :href => "#followers", :role => "tab"} 
            %strong.head-text.text-muted
              Followers
            .sub-text.text-center
              =@user.followers_count
      %div.pull-right{style: "padding-top:15px;"}
        - if @user == current_user
          =link_to 'Edit Profile', sign_out_path, class: 'btn pull-right'
        - elsif (@user != current_user && current_user.follower_of?(@user))
          = button_to 'Unfollow',  unfollow_follow_path(@user), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger pull-right'
        - else
          = button_to 'Follow', follow_follow_path(@user), method: :post, class: 'btn btn-info pull-right'
          
        
        

.container.padding-card
  .col-md-3.no-padding
    %br
    %h3
      %b= @user.full_name
    %span.text-muted
      =@user.email

  .col-md-6.no-padding
  
    .tab-content
      #home.tab-pane.active{ role: "tabpanel" }
        = render 'posts/post'
      #following.tab-pane{ role: "tabpanel" }
        = render "following"
      #followers.tab-pane{ role: "tabpanel" }
        = render "followers"

    

  .col-md-3.no-padding
    .card
      %h4
        %strong
          Who to follow
        - @users_to_follow.each do |user|
          = render "who_to_follow", user: user
      %a
        .small{style: "padding-top: 10px;"}
          %span.glyphicon.glyphicon-user
          Find people you know