!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Twitifi
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.container
    - if notice
      .alert.alert-success.alert-dismissable.fade.in
        %a.close{'aria-label': 'close', 'data-dismiss': 'alert', href: '#'} &times;
        = notice
    - if alert
      .alert.alert-danger.alert-dismissable.fade.in
        %a.close{'aria-label': 'close', 'data-dismiss': 'alert', href: '#'} &times;
        = alert
    = yield
